#international-2002 {
    --money-tree-top: 17.2;
    --money-tree-distance: 5.31;
    --lifeline-1: 2;
    --lifeline-2: 1;
    --lifeline-3: 3;
}

#lifeline-area.international-2002 {
    width: 80%;
    height: 8%;
    top: 5%;
    left: 5%;
}

/* .money-tree-current-level.international-2002 {
    color: black;
    text-shadow: none;
} */

.money-tree-safety-net.international-2002 {
    color: lightyellow;
    text-shadow: none;
}

#question-text.international-2002 {
    height: 30%;
    left: 20%;
    top: 11%;
    width: 60%;
    font-size: 3.5vh;
}

.answer-text.international-2002 {
    height: 15%;
    width: 35%;
    font-size: 3.7vh;
}

.logged-in-or-correct.international-2002 {
    color: black;
    text-shadow: 1px 1px 2px white;
}

#answer-A.international-2002 {
    left: 23%;
    top: 54%;
}

#answer-B.international-2002 {
    left: 55.5%;
    top: 54%;
}

#answer-C.international-2002 {
    left: 23%;
    top: 80%;
}

#answer-D.international-2002 {
    left: 55.5%;
    top: 80%;
}