#international-2002 {
    --money-tree-top: 17;
    --money-tree-distance: 5.23;
    --lifeline-1: 2;
    --lifeline-2: 1;
    --lifeline-3: 3;
}

#lifeline-area.international-2002 {
    width: 80%;
    height: 8%;
    top: 5%;
    left: 5%;
}

/* .money-tree-current-level.international-2002 {
    color: black;
    text-shadow: none;
} */

.money-tree-text.host.international-2002,
.money-tree-text.contestant.international-2002 {
    font-size: calc(32 * 100vh / 1080);
}

.money-tree-text.tvscreen.international-2002 {
    font-size: calc(40 * 100vh / 1080);
}

.money-tree-value.host.international-2002,
.money-tree-value.contestant.international-2002 {
    left: calc(150 * 100vw / 1920);
}

.money-tree-value.tvscreen.international-2002 {
    left: calc(170 * 100vw / 1920);
}

.money-tree-number.host.international-2002,
.money-tree-number.contestant.international-2002 {
    left: calc(40 * 100vw / 1920);
    width: 7%;
    justify-content: right;
}

.money-tree-number.tvscreen.international-2002 {
    left: calc(60 * 100vw / 1920);
    width: 7%;
    justify-content: right;
}

.money-tree-safety-net.international-2002 {
    color: lightyellow;
    text-shadow: none;
}

#question-text.international-2002 {
    height: 30%;
    left: 20%;
    top: 11%;
    width: 60%;
    font-size: 3.5vh;
}

.answer-text.international-2002 {
    height: 15%;
    width: 35%;
    font-size: 3.7vh;
}

.logged-in-or-correct.international-2002 {
    color: black;
    text-shadow: 1px 1px 2px white;
}

#answer-A.international-2002 {
    left: 23%;
    top: 54%;
}

#answer-B.international-2002 {
    left: 55.5%;
    top: 54%;
}

#answer-C.international-2002 {
    left: 23%;
    top: 80%;
}

#answer-D.international-2002 {
    left: 55.5%;
    top: 80%;
}