body {
    background-color: black;
}

#question-area {
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(1920 * 100% / 1920);
    height: calc(328 * 100% / 1080);
}

#money-tree-area {
    position: fixed;
}

.money-tree-number {
    position: fixed;
}

.money-tree-value {
    position: fixed;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}


span {
    text-shadow: 1px 1px 2px black;
    color: white;
    /* background-color: purple; */
}

.money-tree-text {
    position: absolute;
    display: flex;
    align-items: center;
    font-family: "Copperplate";
    color: orange;
}

.money-tree-current-level {
    color: black;
    text-shadow: none;
}

.money-tree-safety-net {
    color: white;
    text-shadow: none;
}

#question-text {
    position: absolute;
    font-family: "Arial";
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.answer-text {
    position: absolute;
    font-family: "Arial";
    display: flex;
    text-align: left;
    align-items: center;
}

.logged-in-or-correct {
    color: black;
    text-shadow: 1px 1px 2px white;
}