#wwm {
    --money-tree-top: 17.3;
    --money-tree-distance: 5.25;
}

#lifeline-area.wwm {
    position: absolute;
    width: 80%;
    height: 8%;
    top: 5%;
    left: 5%;
}

.money-tree-text.host.wwm,
.money-tree-text.contestant.wwm {
    font-size: calc(32 * 100vh / 1080);
}

.money-tree-text.tvscreen.wwm {
    font-size: calc(44 * 100vh / 1080);
}

.money-tree-value.host.wwm,
.money-tree-value.contestant.wwm {
    left: calc(125 * 100vw / 1920);
}

.money-tree-value.tvscreen.wwm {
    left: calc(210 * 100vw / 1920);
}

.money-tree-number.host.wwm,
.money-tree-number.contestant.wwm {
    left: calc(30 * 100vw / 1920);
    width: 7%;
    justify-content: center;
}

.money-tree-number.tvscreen.wwm {
    left: calc(75 * 100vw / 1920);
    width: 7%;
    justify-content: center;
}

.money-tree-safety-net.wwm {
    color: white;
    text-shadow: none;
}

#question-text.wwm {
    height: 30%;
    left: 10%;
    top: 8%;
    width: 80%;
    font-size: 4vh;
}

.answer-text.wwm {
    height: 15%;
    width: 35%;
    font-size: 4vh;
}

.logged-in-or-correct.wwm {
    color: black;
    text-shadow: 1px 1px 2px white;
}

#answer-A.wwm {
    left: 13%;
    top: 51.5%;
}

#answer-B.wwm {
    left: 57%;
    top: 51.5%;
}

#answer-C.wwm {
    left: 13%;
    top: 77%;
}

#answer-D.wwm {
    left: 57%;
    top: 77%;
}